/***********************************/
/* Style Sheet Composer by Sagotch */
/* Version 0.0.1                   */
/***********************************/

@mixin reset () {

    * {
        box-sizing : border-box ;
        margin: 0 ;
        padding: 0 ;
        border: 0 ;
        font-size: 100% ;
        font: inherit ;
        vertical-align: baseline ;
    }

    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
        display: block ;
    }

    body {
        line-height: 1 ;
    }

    ol, ul {
        list-style: none ;
    }

    blockquote, q {
        quotes: none ;
        &:before, &:after {
            content: '' ;
            content: none ;
        }

    }

    table {
        border-collapse: collapse ;
        border-spacing: 0 ;
    }
}

@mixin clearfix () {
    overflow: hidden ;
}

/*************/
/* ALIGNMENT */
/*************/

@mixin left   () {                     margin-right: auto ; }
@mixin center () { margin-left: auto ; margin-right: auto ; }
@mixin right  () { margin-left: auto ;                      }


@mixin radius ($radius) { border-radius: $radius ; }
@mixin shadow ($top: 0,
               $left: 1px,
               $blur: 2px,
               $color: rgba(0,0,0,0.12),
               $inset:"") {
    box-shadow: $top $left $blur $color unquote($inset) ;
}

/***************/
/* GRID SYSTEM */
/***************/

@mixin grid () {

    &:before, &:after {
        display: table ;
        content: "" ;
        line-height: 0 ;
    }

    &:after {
        clear: both ;
    }

    & > * {
        display: inline-block ;
        float: left ;
    }

    & > & {
        clear: none ;
        margin: 0 !important ;
    }

}

/***********/
/* BUTTONS */
/***********/

@mixin button-base () {
    text-decoration: none ;
    line-height: normal ;
    padding: .5rem 1rem ;
    transition: all 0.2s ;
}

@mixin button-fill ($bg, $fg) {

    @include button-base () ;

    background-color: $bg ;
    color: $fg ;

    &:hover, &:active {
        background-color: lighten($bg, 30%) ;
    }

}

@mixin button-outline ($color, $hover) {

    @include button-base () ;

    background-color: transparent ;
    color: $color ;
    border: 2px solid $color ;

    &:hover, &:active {
        background-color: $color ;
        color: $hover ;
    }

}

/***************/
/* MESSAGE BOX */
/***************/

@mixin message-box ($bg) {

	  padding: 1rem ;
	  line-height: 1.2;
	  border-left: 0.5rem solid ;

    border-color: $bg;
    background-color: lighten($bg, 30%);
}

/**********/
/* NAVBAR */
/**********/

@mixin navbar () {

    display: block ;
    width: 100% ;

    & > * {
        float: left ;
    }

}

/************/
/* DROPDOWN */
/************/

@mixin dropdown ($content) {

    & > #{$content} {
        display: none ;
        position: absolute ;
    }

    &:hover > #{$content},
    & > #{$content}:hover {
        display: block ;
    }

}

/*****************/
/* STRIPPED LIST */
/*****************/

@mixin stripped-list ($border) {

    & > li {
        border-bottom: $border ;
    }

    &:last-child {
        border-bottom: 0 ;
    }

}

/**********/
/* SWITCH */
/**********/

@mixin switch ($w, $h, $m, $r, $on, $off) {

    display: none ;

    & + label {
        display: block ;
        position: relative ;
        cursor: pointer ;
        border: $m solid ;
        @include radius ( #{$h * $r} ) ;
        width: $w ;
        height: $h ;
        padding: $m ;
    }

    & + label:after {
        display: block ;
        position: absolute ;
        content: "" ;
        top: $m ;
        bottom: $m ;
        @include radius (#{($h - $m) * $r}) ;
        transition: all 0.4s ;
    }

    &:checked {
        & + label { border-color: $on ; }
        & + label:after { left: #{$w / 2} ; right: $m ;
                          background-color: $on ; }
    }

    &:not(:checked) {
        & + label { border-color: $off ; }
        & + label:after { left: $m ; right: #{$w / 2} ;
                          background-color: $off ;
                        }
    }
}

/**********/
/* INPUTS */
/*********/

@mixin input-text ($border: 2px solid #CCC, $color: #444) {
    border: $border ;
	  color: $color ;
	  font-weight: normal ;
	  vertical-align: middle ;
	  padding: 0.5rem 1rem ;
	  line-height: 1 ;
}