/**********/
/* Colors */
/**********/

$colors:
(
  black  : #000000,
  blue   : #19B5FE,
  gray   : #95A5A6,
  green  : #26A65B,
  orange : #F89406,
  pink   : #F62459,
  purple : #9A12B3,
  red    : #F22613,
  white  : #FFFFFF,
  yellow : #F7CA18
) ;
