@mixin dropdown ($content) {

    & > #{$content} {
        display: none ;
        position: absolute ;
    }

    &:hover > #{$content},
    & > #{$content}:hover {
        display: block ;
    }

}
