/*********************/
/*   Message boxes   */
/*********************/

@mixin msg ($bg) {

	padding: 1rem ;
	line-height: 1.2;
	border-left: 0.25rem solid ;

  border-color: $bg;
  background-color: lighten($bg, 30%);
}
